<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>'
<body>
    <%- include('./partials/nav.ejs') %>'
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita incidunt non
             sint placeat provident temporibus voluptatem ratione? Quam magnam maiores maxime illum quas, aspernatur tempore deserunt id a delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita incidunt non 
            sint placeat provident temporibus voluptatem ratione? Quam magnam maiores maxime illum quas, aspernatur tempore deserunt id a delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi expedita incidunt non
             sint placeat provident temporibus voluptatem ratione? Quam magnam maiores maxime illum quas, aspernatur tempore deserunt id a delectus.</p>

    </div>
    <%- include('./partials/footer.ejs') %>'
</body>
</html>